#container {
    display: flex;
    height: 500px;
    gap: 1em;
}

#left-pane, #right-pane {
    flex: 0 0 calc(50% - .5em);
}

#log-area { color: red; }

#canvas {
    width: 100%;
}

#editor {
    width: 100%;
    height: 100%;
    resize: none;
}