#container {
    display: flex;
    height: 500px;
    gap: 1em;
}
body {margin: 0}

#left-pane, #right-pane {
    flex: 0 0 calc(50% - .5em);
}

#log-area { color: red; }



#canvas {
    width: 100%;
}

#editor {
    width: 100%;
    height: calc(100% - 20em);
    resize: none;
}
/* Split.js */
#split {
    height: 100vh;
    display: flex;
}

.gutter {
    background-color: rgb(88, 88, 88);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}