#container {
    display: flex;
    height: 100%;
}

#left-pane {
    flex-grow: 1;
}

#canvas {
    width: 100%;
}

#right-pane {
    flex-grow: 1;
}

#editor {
    width: 100%;
    height: 100%;
    resize: none;
}